.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    grid-column-start: span 2;
    /* height: 800px; */
    width: 80%;
    /* margin: auto;
    margin-top: 50px; */
    margin: 100px 0;
}

.titulo {
    text-align: left;
    margin-left: 10px; /* Puedes ajustar este valor según tus preferencias de espaciado */
    font-size: 25px; /* Puedes ajustar este valor según el tamaño de fuente deseado */
    font-family: 'Red Hat Display', sans-serif;
}

.subtitulo-member{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Red Hat Display', sans-serif;
}

.etiquetas-member{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.etiquetas-member div{
    /* display: flex;
    flex-direction: column; */
    background: lightgreen;
    border: solid black;
    border-radius: 50px;
}


.container div:first-child{

    grid-column-start: span 1;
    grid-row-start: span 2;
}

.membership {
    background: #fbfbfb;
    border-radius: 25px;
    padding: 8px;
    /* max-height: 600px; */
}
.membership .icon{
    position: relative;
    left: 10px;
    width: 50px;
}
.manager {
    background: #fbfbfb;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
}
.trial-sessions {
    background: #fbfbfb;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
}
.reporting {
    background: #fbfbfb;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
}
.schedule {
    background: #fbfbfb;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
}
.levels {
    background: #fbfbfb;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
    min-height: 50%;
}
.billing {
    background: #fbfbfb;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
}

.custom-branding {
    background: #fbfbfb;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
}

.grid-item:nth-child(3n) {
    grid-column: 3;
}

body{
    background: #e6e7ed;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}